@import "tailwindcss";

:root {
  --color-primary: #1a2a1a; /* Very dark green for backgrounds */
  --color-primary-dull: #ffffff;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: black;
  background-color: white;
}
